<div class="p-3 mb-2 bg-secondary text-white">
    <h5>Lista de peliculas</h5>
</div>

<table class="table">
    <thead>
        <tr class="thead-light">
            <th scope="col">Caratula</th>
            <th scope="col">Nombre</th>
            <th scope="col">Genero</th>
            <th scope="col">Precio</th>
            <th scope="col">Stock</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let pelicula of peliculas">
            <td><img [src]="pelicula.img" [alt]="pelicula.img"></td>
            <td>{{pelicula.nombre}}</td>
            <td>{{pelicula.genero}}</td>
            <td>{{pelicula.precio}}</td>
            <td>{{pelicula.stock}}</td>
        </tr>
    </tbody>
</table>