<div class="p-3 mb-2 bg-secondary text-white">
    <h5>Carro de compras</h5>
</div>
<table class="table">
    <thead>
        <tr class="thead-light">
            <th scope="col">Nombre</th>
            <th scope="col">Cant</th>
            <th scope="col">Borrar</th>
        </tr>
    </thead>
<!--
    <tbody>
        <tr *ngFor="let item of items">
            <td>{{item.nombre}}</td>
            <td>{{item.cant}}</td>
            <td>{{item.borrar}}</td>
        </tr>
    </tbody>
-->
</table> 