<nav class="navbar bg-primary  navbar-expand-lg navbar-dark">
  <a class="navbar-brand" href="#">
    <img src="../assets/img/logo.png" width="150" height="40" class="d-inline-block align-top" alt="" loading="lazy">
  </a>
  <div class="collapse navbar-collapse">
    <div class="navbar-nav">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" [routerLink]="['/home']">Home</a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" [routerLink]="['/contacto']">Contacto</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
<div class="container">
  <router-outlet></router-outlet>
</div>
<footer class="text-center bg-primary">
  <span class="text-light">{{title}} - 2020</span>
</footer>